body {
	font-family: sans-serif !important;
}

::-webkit-scrollbar {
  width: 1em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius:5px;
}
 
 ::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: 1px solid slategrey;
  border-radius: 5px;
}

.bg-funky	{
	background: rgb(155,149,245);
	background: radial-gradient(circle, rgba(155,149,245,1) 0%, rgba(11,154,177,1) 44%, rgba(167,240,247,1) 100%);
}

.container {
	/*width: 500px;*/
	/*padding-left: 300px;*/
	padding-top:100px;
	/*background: rgb(155,149,245);
	background: radial-gradient(circle, rgba(155,149,245,1) 0%, rgba(11,154,177,1) 44%, rgba(167,240,247,1) 100%);*/
}

img {
	/*border:2px solid #fff;*/
	max-width: 70%;
	padding:5px;
	display:inline-block;
	margin-top:20px;
}

.inbox_msg {
	background:rgba(155,149,245,0.1);
	border: 2px solid #fff;
	clear: both;
	height: 550px;
	position: relative;
	float: left;
	padding: 40px;
	opacity:1;
}

.should_wrap{
	/*border: 2px solid #4f4;*/
	margin-top: 20px;
}

.outgoing_msg{
	/*border: 2px solid #fff;*/
	overflow: none;
	margin:26px 0 26px;
	width:100%;
}
.incoming_msg_img {
	display: inline-block;
	width: 6%;
}
		
.received_msg {
	margin-top: 20px;
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

 .received_withd_msg p {
	background: #e4e8fb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 70%;
}

.type_here {
	margin-top:50px;
	overflow: hidden;
	bottom: 20px;
	position:absolute;
}

input{
	resize:none;
	overflow:hidden;
	border-radius:5px;
	width: 950px;
	display:inline-block;
}

.msg_send_btn {
	background: #05728f none repeat scroll 0 0;
	border: medium none;
	border-radius: 2px
	color: #fff;
	cursor: pointer;
	height: 33px;
	/*position: absolute;*/
	float:right;
	right: 0;
	/*top: 10px;*/
	/*width: 33px;*/
	margin-top:5px;
	display:inline-block;
}

.btn-primary {
	margin-top:50px;
	width:200px;
	float: left;
	text-align:center;
}

/*form {
	overflow: none;
}*/

/*.stop {
	float: right;	
}*/

#speak {
	text-decoration-color: black;
}

#stop {
	margin-top:50px;
	float: right;
	text-align: center;
}

textarea {
	width: 950px;
	height: 30px;
	border-radius: 8px;
	resize: none;
}

.send {
	margin-left: 50px;
}

.containment {
	height:400px;
	overflow-y: scroll;
}